
body{
    padding: 0;
    margin: 0;
    font-size: Arial, sans-serif;
    background-color: #fff;
}
.container{
    padding-top: 80px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 20px;
}
.add_button{
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}
.itemList{
    list-style: disc;
    line-height: 30px;
    font-size: 20px;
    border: 0;
}